<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FTP Client</title>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/trumbowyg.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/request.js"></script>
    <script src="/static/js/ftp-client.js"></script>
    <script>
        function logout() {
            getApi('/ftp/logout', {}, function(err, r) {
                location.assign('/login');
            });
        }
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" id="header-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FTP客户端</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a onclick="logout()">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li role="presentation" class="active"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">文件列表</a></li>
                    <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">上传</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="ftp-client-main">
                <div class="row placeholders tab-content">
                    <div role="tabpanel" class="tab-pane active" id="files">
                        <div class="row">
                            <table class="table table-striped">
                                <caption>
                                    <a href="#" v-on:click="make_dir"><span class="glyphicon glyphicon-plus-sign"></span> 新建文件夹</a>
                                    当前目录: {{working_dir}}</caption>
                                <thead>
                                    <tr>
                                        <th>权限</th>
                                        <th>链接数量</th>
                                        <th>所有者</th>
                                        <th>用户组</th>
                                        <th>文件大小</th>
                                        <th>修改时间</th>
                                        <th>文件名</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="file in files">
                                        <td>{{file.mode}}</td>
                                        <td>{{file.link_num}}</td>
                                        <td>{{file.owner}}</td>
                                        <td>{{file.group}}</td>
                                        <td v-html="getSize(file.length)"></td>
                                        <td>{{file.month + ' ' + file.day + ' ' + file.time}}</td>
                                        <td><a href="#" v-on:click="access(file)">
                                            <span v-if="file.mode[0] == 'd'" class="glyphicon glyphicon-folder-open"></span>
                                            &nbsp;{{file.name}}</a></td>
                                        <td>
                                            <a href="#" v-on:click="move(file)">
                                                <span class="glyphicon glyphicon-transfer"></span>&nbsp;Move/Rename
                                            </a>
                                            <a href="#" v-on:click="delete(file)">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="upload">
                        <div class="row">
                            <form class="form">
                                <div class="form-group">
                                    <label>上传文件: 请选择文件</label>
                                    <input type="file" class="form-control" id="file-uploader">
                                </div>

                                <div class="form-group">
                                    <label>当前目录: {{working_dir}}</label>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="button" v-on:click="upload">
                                        <span class="glyphicon glyphicon-ok"></span> 上传
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>